body {
    background: #4d4d4d;
}

aside{
    float: left;
    background: #A9A9A9;
    width: 1548px;
    height: 10vh;
    position: relative;
    top: -10px;
    left: -20px;
}

aside ul li{
    color: #fff;
    display: inline-block;
    transition: all .6s ease;
    margin-left: 50px;
    position: relative;
    bottom: -10px;
    right: -100px;
}

